@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-color: #050608;
    position: sticky;
    top: 0%;

}


.container-nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-nav a img {
    width: 60px

}

.container-nav div ul li {
    list-style: none;
    text-decoration: none;
}

.container-nav div ul li a {
    color: #ffffff;
    text-decoration: none;
}

.container-ul {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.container-ul li {
    margin-left: 1rem;
}


/* main */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: #050608;
}

.container-main img {
    width: 50%;
    height: 50%;
    margin-right: 3rem;
    margin-bottom: 5rem;

}


.container-main div a{
    color: #ffffff;
    text-decoration: none;
    border: solid 1px #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 3rem;
}

.container-biography {
    display: flex;
    flex-direction: column;
}

.container-biography div h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-biography .wiki {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.container-biography .wiki p {
    font-size: rem;
    font-weight: 300;
    margin-left: 1 rem;
    margin-right: 1rem;
}


.container-biography .wiki img {
    width: 18rem;
    height: 50%;
    border: solid 3px #050608;
    margin-left: 1rem;
    margin-right: 2rem;
}


/* footer */
.container-footer {
    padding: 1rem;
    margin: 0;
    background-color: #050608;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer p {
    color: #ffffff;
    margin-left: 1%;
}

.container-footer .icon-footer {
    margin-right: 1%;

}

.container-footer .icon-footer a {
    color: #ffffff;
    margin-left: 0.5rem;
    text-decoration: none;
}
