@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace; }

header {
  background-color: #050608;
  color: #ffffff;
  position: sticky;
  top: 0%; }
  header .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container-nav a img {
      width: 4rem;
      margin-left: 3rem; }
    header .container-nav div ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    header .container-nav div ul li {
      list-style: none;
      margin-left: 1rem;
      margin-right: 1.3rem; }
      header .container-nav div ul li a {
        font-size: 1.2rem;
        color: #ffffff;
        text-decoration: none; }

.container-footer {
  background-color: #050608;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 2rem; }
  .container-footer p {
    margin-left: 1%; }
  .container-footer .icon-footer {
    margin-right: 1%; }
    .container-footer .icon-footer a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 0.5rem; }

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #050608; }
  .container-main img {
    width: 50%;
    height: 50%;
    margin-right: 3rem;
    margin-bottom: 3rem; }
  .container-main div a {
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 3rem; }

.container-biography {
  display: flex;
  flex-direction: column; }
  .container-biography div h1 {
    font-size: 4rem;
    text-align: center; }
  .container-biography .wiki {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem; }
    .container-biography .wiki img {
      width: 20rem;
      height: 50%;
      border: solid 3px #050608;
      margin-left: 1rem;
      margin-right: 2rem; }
    .container-biography .wiki p {
      font-weight: 300;
      margin-left: 1rem;
      margin-right: 1rem; }

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 400;
  font-size: 3rem; }

main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  margin: 5vh; }
  main .container .card {
    border: solid 0.4vh #e5e5e5ff; }
    main .container .card a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: black; }
    main .container .card img {
      width: 100%; }
    main .container .card h2 {
      margin-bottom: 0.3%; }
    main .container .card p {
      font-weight: 200; }
  main .container .card:hover {
    border: solid 0.4vh #050608; }
