@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace; }

@media screen and (max-width: 480px) {
  .container-nav {
    justify-content: center;
    flex-direction: column;
    width: 100%; }
    .container-nav div ul {
      flex-direction: column;
      align-items: center;
      width: 100%; } }

@media screen and (max-width: 550px) {
  .container-nav {
    justify-content: center;
    flex-direction: column; }
    .container-nav div {
      flex-direction: column;
      align-items: center;
      width: 100%; } }

@media screen and (max-width: 576px) {
  .container-footer {
    flex-direction: column-reverse; } }

@media (max-width: 600px) {
  .container-footer {
    flex-direction: column-reverse; } }

@media screen and (max-width: 518px) {
  .container-main a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.5rem; } }

@media screen and (max-width: 652px) {
  .container-biography h1 {
    margin-bottom: 5%; }
  .container-biography .wiki {
    flex-direction: column; }
    .container-biography .wiki img {
      margin-left: 25%;
      margin-right: 25%; }
    .container-biography .wiki p {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media screen and (max-width: 1104px) {
  .container-main {
    flex-direction: column; }
  .container-main div {
    margin-bottom: 3rem; } }

header {
  background-color: #050608;
  color: #ffffff;
  position: sticky;
  top: 0%; }
  header .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container-nav a img {
      width: 4rem;
      margin-left: 3rem; }
    header .container-nav div ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    header .container-nav div ul li {
      list-style: none;
      margin-left: 1rem;
      margin-right: 1.3rem; }
      header .container-nav div ul li a {
        font-size: 1.2rem;
        color: #ffffff;
        text-decoration: none; }
        header .container-nav div ul li a .underline:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 4px;
          bottom: 0;
          left: 0;
          background-color: #ffffff;
          transform-origin: bottom right;
          transition: transform 0.6s ease-out; }
        header .container-nav div ul li a .underline:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left; }

.container-footer {
  background-color: #050608;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 2rem; }
  .container-footer p {
    margin-left: 1%; }
  .container-footer .icon-footer {
    margin-right: 1%; }
    .container-footer .icon-footer a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 0.5rem; }

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #050608; }
  .container-main img {
    width: 50%;
    height: 50%;
    margin-right: 3rem;
    margin-bottom: 3rem; }
  .container-main div a {
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 3rem; }

.container-biography {
  display: flex;
  flex-direction: column; }
  .container-biography div h1 {
    font-size: 4rem;
    text-align: center; }
  .container-biography .wiki {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem; }
    .container-biography .wiki img {
      width: 20rem;
      height: 50%;
      border: solid 3px #050608;
      margin-left: 1rem;
      margin-right: 2rem; }
    .container-biography .wiki p {
      font-weight: 300;
      margin-left: 1rem;
      margin-right: 1rem; }

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 400;
  font-size: 3rem; }

main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  margin: 5vh; }
  main .container .card {
    border: solid 0.4vh #e5e5e5ff; }
    main .container .card a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: black; }
    main .container .card img {
      width: 100%; }
    main .container .card h2 {
      margin-bottom: 0.3%; }
    main .container .card p {
      font-weight: 200; }
  main .container .card:hover {
    border: solid 0.4vh #050608; }

.discography {
  background-image: url(../../static/img/discography.png);
  background-position: center;
  background-size: cover;
  width: 100%; }
  .discography #title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; }
  .discography .discography__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .discography .discography__container div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5vh;
      margin-top: 2%;
      margin-bottom: 5%; }
      .discography .discography__container div iframe {
        border: solid #050608;
        border-radius: 3vh;
        width: 100%; }

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.btn {
  margin-top: 3%;
  margin-bottom: 50%; }

@media screen and (max-width: 480px) {
  .container-nav {
    justify-content: center;
    flex-direction: column;
    width: 100%; }
    .container-nav div ul {
      flex-direction: column;
      align-items: center;
      width: 100%; } }

@media screen and (max-width: 550px) {
  .container-nav {
    justify-content: center;
    flex-direction: column; }
    .container-nav div {
      flex-direction: column;
      align-items: center;
      width: 100%; } }

@media screen and (max-width: 576px) {
  .container-footer {
    flex-direction: column-reverse; } }

@media (max-width: 600px) {
  .container-footer {
    flex-direction: column-reverse; } }

@media screen and (max-width: 518px) {
  .container-main a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.5rem; } }

@media screen and (max-width: 652px) {
  .container-biography h1 {
    margin-bottom: 5%; }
  .container-biography .wiki {
    flex-direction: column; }
    .container-biography .wiki img {
      margin-left: 25%;
      margin-right: 25%; }
    .container-biography .wiki p {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media screen and (max-width: 1104px) {
  .container-main {
    flex-direction: column; }
  .container-main div {
    margin-bottom: 3rem; } }
