@import "./base/variables";
@import "../base/mediaquerys";

header {
    background-color: $primary_color;
    color: $secondary_color;
    position: sticky;
    top: 0%;

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a img {
            width: 4rem;
            margin-left: 3rem;
        }

        div ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div ul li {
            list-style: none;
            margin-left: 1rem;
            margin-right: 1.3rem;

            a {
                font-size: 1.2rem;
                color: $secondary_color;
                text-decoration: none;

                .underline:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    background-color: $secondary_color;
                    transform-origin: bottom right;
                    transition: transform 0.6s ease-out;
                }

                .underline:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

        }
    }
}
